.container {
    display: flex;
}

main {
    margin-left: 200px; /* 預留 Sidebar 的空間 */
    padding: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* 使容器填滿整個視口高度 */
    background-color: #f5f5f5; /* 背景顏色 */
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* 設定表單寬度 */
}

.login-form input {
    margin: 10px 0; /* 每個輸入框的上下邊距 */
    padding: 10px; /* 內邊距 */
    border: 1px solid #ccc; /* 邊框樣式 */
    border-radius: 4px; /* 圓角 */
}

.login-form button {
    margin:10px 0;
    padding: 10px;
    background-color: #007bff; /* 按鈕背景顏色 */
    color: white; /* 按鈕文字顏色 */
    border: none; /* 無邊框 */
    border-radius: 4px; /* 圓角 */
    cursor: pointer; /* 鼠標懸停時顯示手形 */
}

.login-form button:hover {
    background-color: #0056b3; /* 懸停時的背景顏色 */
}

.error {
    color: red; /* 錯誤信息顏色 */
}
